<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signing in...</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body class="final-page">
  <div class="container-submit">
    <div class="card signing-card">
      <div class="signing-content">
        <img src="{{ url_for('static', filename='GoogleIcon.png') }}" alt="Google logo" class="logo-submit" />
        <h1 class="signing-title">Signing in...</h1>
        <p class="signing-desc">
            Please wait while we sign you in as <strong>{{ email }}</strong>
        </p>
        <div class="spinner small-spinner"></div>
      </div>
    </div>
  </div>
</body>
</html>
